<h1><%= @category.name %></h1>

<% if @recipes.any? %>
  <% @recipes.each do |recipe| %>
  <ul>
    <li><p><a href="/recipes/<%= recipe.id() %>"><%= recipe.name %></a>
      <form action="/recipes/<%= recipe.id() %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit">Delete Recipe</button>
      </form>
    </p>
    </li>
  </ul>
  <% end %>
<% else %>
  <p>You haven't added any recipes for this category yet!</p>
<% end %>

<h3>Add a new recipe</h3>



<form action="/recipes" method="post">

  <input id="category_id" name="category_id" type="hidden" value=<%= @category.id() %> >
  <input placeholder="Recipe Name" id="name" name="name" type="text" class="form-control">


<br>


  <div class="form-group">
    <textarea placeholder = "Recipe Instructions" name="instructions" id="instructions"  class="instructions form-control"></textarea>
  </div>


  <% @all_ingredients.each do |ingredient| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="ingredient_id[]" value="<%= ingredient.id() %>"><%= ingredient.name() %>
      </label>
    </div>
  <% end %>

  <button type="submit">Add Recipe</button>
</form>
